<footer>
    <div class="foot-cont">
        <div class="logo"><img src="/images/logo-foot.png" alt=""></div>
        <p>
            <span>원장&nbsp;&nbsp;&nbsp;임기숙</span>
            <span>사업자등록번호&nbsp;&nbsp;&nbsp;264-81-27859</span>
            <span>학원등록번호&nbsp;&nbsp;&nbsp;제 7358호</span>
        </p>
        <p>
            <span>주소&nbsp;&nbsp;&nbsp;제주시 한경면 저지리 2969-6번지 앤도버 빌딩</span>
            <span>TEL&nbsp;&nbsp;&nbsp;(064) 794-8700</span>
        </p>
        <p class="copy">Copylight© Trinity Members. All Rights Reserved.</p>
    </div>
</footer>
<a href="#wrap" class="to-top"><span class="blind">상단으로</span></a>