<header>
    <div class="head-cont">
        <h1>
            <a href="/"><span class="blind">앤도버 메인으로 이동합니다.</span></a>
        </h1>
        <button type="button" class="btn-menu-all"><span class="blind">전체메뉴 보기</span><span class="bar" aria-hidden="true"></span></button>
        <nav id="gnb">
            <ul>
                <li>
                    <a href="/page/sub01_01.html" class="dep1">About TRINITY MEMBERS</a>
                    <button type="button" class="dep2-more"><span class="blind">하위메뉴 보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub01_01.html">Welcome</a></li>
                        <li><a href="/page/sub01_02.html">Statement of Belief</a></li>
                        <li><a href="/page/sub01_03.html">School Facts</a></li>
                        <li><a href="/page/sub01_04.html">Faculty</a></li>
                        <li><a href="/page/sub01_05.html">Staff</a></li>
                        <li><a href="/page/sub01_06.html">Location</a></li>
                        <li><a href="/page/sub01_07.html">Contact</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub02_01.html" class="dep1">FACILITIES</a>
                    <button type="button" class="dep2-more"><span class="blind">하위메뉴 보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub02_01.html">Campus</a></li>
                        <li><a href="/page/sub02_01.html">Classroom</a></li>
                        <li><a href="/page/sub02_01.html">Arts&amp;Sports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub03_01.html" class="dep1">CURRICULUM</a>
                    <button type="button" class="dep2-more"><span class="blind">하위메뉴 보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub03_01.html">Kindergarten</a></li>
                        <li><a href="/page/sub03_02.html">Elementary</a></li>
                        <li><a href="/page/sub03_03.html">College PREP</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub04_01.html" class="dep1">ADMISSION</a>
                    <button type="button" class="dep2-more"><span class="blind">하위메뉴 보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub04_01.html">General Information</a></li>
                        <li><a href="/page/sub04_02.html">Apply for TRINITY Members</a></li>
                        <li><a href="/page/sub04_03.html">Aptitude Test Information</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub05_01.html" class="dep1">TRINITY STORY</a>
                    <button type="button" class="dep2-more"><span class="blind">하위메뉴 보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub05_01.html">Gallery</a></li>
                        <li><a href="/page/sub05_02.html">Press</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub06.html" class="dep1">MEMBERS ONLY</a>
                </li>
            </ul>
        </nav>
    </div>
</header>